# Copy to .env.oauth and fill in values for local OAuth tests.
# You can also just put these in your .env file.

TEST_USER=
TEST_PASSWORD=
TEST_SITE_NAME=

# Optional, but allows you to specify the URL of the MCP server against which to run the tests
# Defaults to http://127.0.0.1:3927/tableau-mcp
# Note: the tests are not yet designed to pass against any arbitrary Tableau MCP deployment. This is a followup work item.
MCP_SERVER_URL=

# Set to true if the test user has access to multiple sites since they will be prompted to enter the site name during sign-in
FILL_SITE_NAME=