*.local
.env
.env.*
.vscode/
build/
cache/
node_modules/
junit/
coverage/
test-logs/
config.json
env.list
manifest.json
sea-prep.blob
tableau-mcp
tableau-mcp.dxt
tableau-mcp.exe
tableau-mcp.mcpb
*.pem
*.tgz
*.tar.gz
*.zip

# MCP Apps
src/web/apps/dist/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/blob-reports/
/playwright/.cache/
/playwright/.auth/
